/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '_theme-colors' as colors;
@include mat.core();

$app-theme: mat.define-theme((
  color: (
    theme-type: light, // oder dark
    primary: mat.$azure-palette, // Verwende vordefinierte Palette
    tertiary: mat.$blue-palette,
    // Oder mit Custom-Palette:
    // primary: colors.$primary-palette,
    // tertiary: colors.$tertiary-palette
  ),
  typography: (
    brand-family: 'Open Sans',
    plain-family: 'Roboto',
    bold-weight: 900,
    medium-weight: 500,
    regular-weight: 300
  ),
  density: (
    scale: 0 // -4 bis +4
  )
));

$app-dark-background: #3d3d3d;
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$app-light-grey: mat.m2-get-color-from-palette(colors.$primary-palette, 50);
$app-accent-color: mat.m2-get-color-from-palette(colors.$tertiary-palette, 50);

:root {
  @include mat.all-component-themes($app-theme);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
