<div class="grid-container">
  <div class="user-container">
    <span class="mat-h1 company">{{(user | async).company.name}} </span>
    <span class="user">{{(user | async).firstname}} {{(user | async).lastname}} </span>
  </div>
  <app-admin-home *ngIf="isAdministrator | async"></app-admin-home>
  <app-taskforce-home *ngIf="(isTaskforce | async) && !(isAdministrator | async)"></app-taskforce-home>
  <app-standard-home *ngIf="(isStandard| async) && !(isAdministrator | async)"></app-standard-home>
</div>
